<div id="contentDiv" onmouseover="getTop().stopPropagation(event);" onclick="getTop().preSwapLink(event, 'spam', 'ZC2724-itM7x4V7FQqoEVEPxahlZa4');" style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">    <div id="qm_con_body"><div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">

	感谢您注册醉梦封尘的部落格账号：
	<p>
		&nbsp; &nbsp;
		您正在醉梦封尘部落格进行邮箱校验操作，本次请求的邮件验证码是：<strong>{code}</strong>(为了保证您账号的安全性，请您在5分钟内完成验证)<br>
		本验证码5分钟内有效，请及时输入。<br><br>

		&nbsp; &nbsp; 为保证账号安全，请勿泄漏此验证码。<br>
		&nbsp; &nbsp; 祝在【醉梦封尘-部落格】收获愉快！<br><br>
		&nbsp; &nbsp; （这是一封自动发送的邮件，请不要直接回复）<br>
	</p>


</div>